body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100px;
}
.wrapper{
    width: 2000px;
    height: 100vh;
}
.container-header{
    width: 2000px;
    height: 800px;
    background: url(/img/book.jpg);
}

.nav{
    display: flex;
}
.main__link{
    text-decoration: none;
    color: white;
}
.nav__text{
    color: white;
}
.yellow{
    color: #ab5325;
}
